<!----<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>-->

<header>
  <h1 style="font-style:" style="color:rgb(212, 173, 0)">Divino's Futsal</h1>
  <form>
    <input placeholder='Digite'/>
    <button>Pesquisar</button>
  </form>
  <nav>
    <a href='/home' style="color:rgb(212, 173, 0)">Home</a>
    <a href='/Fiel Torcedor' style="color:rgb(212, 173, 0)">Divina Torcida</a>
    <a href='/Loja' style="color:rgb(212, 173, 0)">Loja do Clube</a>
    <a href='/Proximos jogos' style="color:rgb(212, 173, 0)">Próximos jogos</a>
  </nav>
</header>

